/* stylesheet */
body {
  min-height: 100vh;
  margin: 0;
  background-color: #1c1c1c;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
h1 {
  width: 100%;
  padding: 1%;
  margin: 0;
  text-align: center;
}

.header-name {
  color: #daa520;
}

.header-name:hover {
  color: #2a2a2a;
}
.book-card {
  width: 20%;
  margin: 0.5%;
  /* text-align: center;*/
  aspect-ratio: 2/3;
  color: #f5e8d8;
  background-color: transparent;
  perspective: 1200px;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.book-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.book-card:hover .book-card-inner {
  transform: rotateY(180deg);
}

.book-card-front,
.book-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.book-card-back {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #2a2a2a;
  border-color: #555;
  border-radius: 8px;
  border-style: solid;
  transform: rotateY(180deg);
}
.book-card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a2a2a;
  border-color: #555;
  border-radius: 8px;
  border-style: solid;
}

.book-card-front:hover {
  border-color: #daa520;
}

.delete-btn {
  text-wrap: wrap;
  width: 99%;
  height: 12%;
  padding: 2px;
  background-color: #2a2a2a;
  border: none;
  color: #ff6f61;
}

.delete-btn:hover {
  background-color: #ff6f61;
  color: #f5e8d8;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.read-btn {
  width: 99%;
  height: 12%;
  padding: 2px;
  background-color: #2a2a2a;
  border: none;
  color: #f5e8d8;
}

.read-btn:hover {
  background-color: #daa520;
  color: #1c1c1c;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-button {
  background-color: #2a2a2a;
  color: #f5e8d8;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
  border-radius: 3px;
  box-shadow: 1px 1px 4px 2px #1c1c1c;
}
.form-button:hover {
  box-shadow: 1px 1px 4px 2px #daa520;
  color: #daa520;
}

.add-book-form {
  background-color: #1c1c1c;
  display: none;
  position: fixed;
  bottom: 0;
  max-width: 300px;
  right: 15px;
  border: 3px solid #2a2a2a;
  box-shadow: 1px 1px 8px 2px #daa520;
  border-radius: 8px;
  z-index: 9;
}
.form-heading {
  color: #daa520;
  text-align: center;
}

.form-container {
  padding: 10px;
  background-color: #1c1c1c;
  text-align: center;
  color: #f5e8d8;
}

.form-container input[type="text"],
input[type="number"] {
  width: 79%;
  padding: 16px 20px;
  margin: 10px;
  border: none;
  border-radius: 3px;
  background: #2a2a2a;
}

.form-container .btn {
  background-color: #04aa6d;
  color: #f5e8d8;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 1px 1px 4px 2px #04aa6d;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
  box-shadow: 1px 1px 4px 2px red;
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
